# Mac OSX
.DS_Store

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
# .vscode

# Docker
docker-stack.yml

# Virtualenv
venv/

# Mypy cache
.mypy_cache

# Python
dist/
__pycache__
