[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "imctools"
version = "1.0.7"
description = "Tools to handle IMC data"
license = "LICENSE"
authors = [
    "Vito Zanotelli <vito.zanotelli@uzh.ch>",
    "Anton Rau <anton.rau@uzh.ch>"
]
homepage = "https://github.com/BodenmillerGroup/imctools"
repository = "https://github.com/BodenmillerGroup/imctools"
documentation = "https://bodenmillergroup.github.io/imctools"
keywords = ["mcd", "ome-tiff", "imc", "cellprofiler", "fiji"]
readme = "README.md"
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 2",
    "Programming Language :: Python :: 2.7",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.4",
    "Programming Language :: Python :: 3.5",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
]
exclude = ["tests", "docs", "examples"]

[tool.poetry.dependencies]
pandas = { version = "*", optional = false }
scikit-image = { version = "*", optional = false }
tifffile = { version = ">=2019.7.26", optional = false }

[tool.poetry.dev-dependencies]
sphinx = "*"
flake8 = "*"
pytest = "*"
vulture = "*"
mypy = "*"
autoflake = "*"
isort = "*"
